@import '../../../style.scss';

.nav_bar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 10px;

    @include mobile {
        height: inherit;
    }

    @include tablet {
        height: inherit;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            gap: 15px;
        }

        .nav_item {
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                width: 100%;
                justify-content: space-between;
            }

            h4 {
                font-weight: 700;
                font-size: 25px;
                color: #fff;

                @include tablet {
                    font-size: 22px;
                }

                @include mobile {
                    font-size: 22px;
                }

                span {
                    color: #9742F4;
                }
            }

            .nav-icon {
                color: #fff;
                font-size: 22px;
                display: none;
                cursor: pointer;

                @include mobile {
                    display: inline-block;
                }
            }

            .tab-icon {
                color: #fff;
                font-size: 22px;
                display: none;
                cursor: pointer;

                @include tablet {
                    display: inline-block;
                }

                @include mobile {
                    display: none;
                }
            }

            .search {
                width: 384px;
                height: 50px;
                display: flex;
                align-items: center;
                background: #000;
                padding: 0 10px;
                background: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.5);
                font-weight: bolder;

                @include tablet {
                    height: inherit;
                }

                @include mobile {
                    width: 100%;
                    height: inherit;
                }

                .icon {
                    font-size: 24px;

                    @include mobile {
                        font-size: 20px;
                    }
                }

                input {
                    font-size: 18px;
                    outline: none;
                    background: transparent;
                    border: none;
                    padding: 10px;
                    width: 100%;
                    font-weight: 400;
                    color: #fff;

                    @include mobile {
                        padding: 7px;
                        font-size: 16px;
                    }

                    @include tablet {
                        padding: 7px;
                        font-size: 16px;
                    }

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }

                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 40px;

                @include tablet {
                    display: none;
                }

                @include mobile {
                    display: none;
                }

                li {
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    cursor: pointer;

                    @include tablet {
                        font-size: 16px;
                    }

                    &:hover {
                        color: #9742F4;
                    }

                    transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -ms-transition: all ease 0.3s;
                    -o-transition: all ease 0.3s;
                }
            }
        }
    }

}

.mobile-nav {
    width: 300px !important;
    height: 100% !important;
    background: rgba(24, 30, 65, 1) !important;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include tablet {
        padding: 30px 0 20px;
        width: 400px !important;
    }
    
    @include mobile {
        padding: 20px 0;
        width: 300px !important;
    }

    h4 {
        font-weight: 700;
        font-style: 25px;
        color: #fff;

        @include tablet {
            font-size: 25px;
        }

        @include mobile {
            font-size: 22px;
        }

        span {
            color: #9742F4;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        li {
            font-size: 18px;
            color: #fff;

            @include tablet {
                font-size: 20px;
            }

            button {
                border: none;
                color: #fff;
                padding: 7px 20px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                background: linear-gradient(to right, #671ae4 0%, #b75cff 51%, #671ae4 100%);
                background-size: 200% auto;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                -ms-transition: all ease 0.5s;
                -o-transition: all ease 0.5s;

                @include mobile {
                    padding: 5px 15px;
                    font-size: 15px;
                }

                &:hover {
                    background-position: right center;
                }
            }
        }
    }
}