@import './style.scss';

.app {
    .brand-btn {
        border: none;
        color: #fff;
        padding: 7px 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background: linear-gradient(to right, #671ae4 0%, #b75cff 51%, #671ae4 100%);
        background-size: 200% auto;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;

        @include tablet {
            padding: 5px 15px;
            font-size: 15px;
        }

        @include mobile {
            padding: 5px 15px;
            font-size: 15px;
        }

        &:hover {
            background-position: right center;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding-bottom: 30px;

        h3 {
            font-size: 35px;
            font-weight: 700;
            color: #fff;

            @include tablet {
                font-size: 30px;
            }

            @include mobile {
                font-size: 30px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;

            @include tablet {
                font-size: 16px;
            }

            @include mobile {
                font-size: 16px;
            }
        }
    }
}